*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #fff;
}
a{
    position: relative;
    padding: 2rem 5rem;
    background: rgba(146,37,213,255);
    text-decoration: none;
    letter-spacing: 1px;
    overflow: hidden;
    border-radius: 10px;
}
a span{
    position: relative;
    z-index: 1;
    color: white;
    font-size: 20px;
}
a::before{
    content: '';
    position: absolute;
    top: var(--Y);
    left: var(--X);
    transform: translate(-50% ,-50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background: linear-gradient( to top ,	hsl(191, 100%, 51%),hsl(300, 100%, 50% , 0.5));
    
    transition: width 0.5s, height 0.5s ;
}
a:hover::before{
    width: 300px;
    height: 300px;
}